<!-- Navbar and Container setup -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cockteleo</a>
  </div>
</nav>

<!-- Image Container -->
<div class="image-container text-center">
  <img src="/assets/logo.webp" alt="Cockteleo Logo" class="img-fluid" />
</div>

<!-- Form Area for login and registration -->
<div class="container mt-3 mt-md-5">
  <div class="row justify-content-center">
    <!-- Login form -->

    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Iniciar sesión</h5>
          <form [formGroup]="loginForm">
            <!-- Input fields for Login -->
            <div class="form-group">
              <label for="loginEmail">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="loginEmail"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="loginPassword">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                formControlName="password"
              />
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-primary" (click)="onLogin()">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Register form -->
    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registrarse</h5>
          <form [formGroup]="registerForm">
            <!-- Input fields for Register -->
            <div class="form-group">
              <label for="registerEmail">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="registerEmail"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="registerPassword">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="registerPassword"
                formControlName="password"
              />
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="onRegister()"
              >
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
