/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #212529;
  color: aliceblue;
}
.custom-dialog-container .mat-dialog-container {
  padding: 20px; /* Espacio adicional alrededor del contenido del diálogo */
  box-sizing: border-box;
}

.custom-dialog-container .mat-dialog-content {
  overflow-y: auto; /* Habilita el scroll vertical si el contenido es demasiado alto */
  max-height: 70vh; /* Limita la altura máxima del contenido del diálogo */
}

.custom-dialog-container .mat-dialog-actions {
  padding: 10px 0 0 0; /* Ajusta el padding para que los botones no estén pegados al borde */
}

.custom-snackbar-error.mat-mdc-snack-bar-container {
  border: white 2px;
  .mdc-snackbar__surface {
    text-align: center;
    background: red;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}

.custom-snackbar-success.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    text-align: center;
    background: green;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}


